::-webkit-scrollbar { width: 7px; }
::-webkit-scrollbar-track { border-radius: 10px; background-color: #333; }
::-webkit-scrollbar-thumb { border-radius: 10px; background-color: #444; }

#layout-options span, #menu p { cursor: default; }