body {
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    height: 100%;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html { height: 100%; }

a { color: #999; }

header {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    border-bottom: 1px solid #9E0A14;
    background-color: #F33F4B;
    height: 44px;
}

.title {
    color: white;
    text-align: center;
    font-size: 22px;
    margin: 0 auto;
    padding-top: 6px;
    width: 75%;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.title-main { font-family: 'Berkshire Swash'; }

.title-shot { font-weight: 700; font-size: 20px; padding-top: 9px; }

#container {
    position: absolute;
    overflow-y: auto; overflow-x: hidden;
    top: 0; bottom: 0;
    z-index: 1;
    width: 100%;    
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-overflow-scrolling: touch;
}

.view {
    position: absolute;
    width: 100%;
    top: 44px; bottom: 0;
    z-index: 1;
}

#mainView, #detailView { -webkit-perspective: 1000; -webkit-backface-visibility: hidden; }

#mainView { background-color: #f0f0f0; }

#detailView { background-color: #333; }

.wrapper {
    height: 100%;
    overflow: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
    padding: 5px 5px 10px;
}

.shot-wrap { border: 2px solid transparent; margin-bottom: -5px; }

/* Column Layouts */

.two-column { width: 50%; float: left; }

.three-column { width: 33.3%; float: left; }

.two-column .shot { border: 3px solid white; min-width: 150px; min-height: 115px; }

.three-column .shot { min-width: 99px; min-height: 75px; }

.shot-wrap:nth-last-child(-n+2) { margin-bottom: 7px !important; }

.shot {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border: 2px solid white;
    background-color: #ddd;
}

.shotImage {
    width: 100%;    
    border: 3px white solid;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* Detail View */

#detail-image { padding: 0 0 5px; }

#detail-image > img { width: 100%; border: 2px solid white; }

#shot-info > p {
    color: whitesmoke;
    font-size: 14px;
    margin: 5px;
    padding: 0 5px;
    text-align: center;
    text-shadow: 0 1px 1px black;
}

#shot-info {
    margin: 0 -5px;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.2);
}

#shot-info > p:first-child { font-weight: 700; }

#shot-info > p + p + p::before {
    content: '\2665';
    color: red;
    display: inline-block; 
    font-size: 20px;
    width: 20px;
    line-height: 10px;
}

.slideTransition { 
    -webkit-transition-duration: 350ms;
    -moz-transition-duration: 350ms;
    -ms-transition-duration: 350ms;
    -o-transition-duration: 350ms;
    transition-duration: 350ms;
}

.btn {
    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -ms-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;
    width: 44px;
    height: 44px;
    position: absolute;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
}

.btn-right { right: 0; }

.btn-active { background-color: rgba(0, 0, 0, 0.3); }

#show-menu { background-image: url('../img/list32.png'); }
#nav-back { background-image: url('../img/back32.png'); }
#refresh { background-image: url('../img/refresh32.png'); }
#open-shot { background-image: url('../img/open.png'); }

/* Options Menu */

#menu {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-duration: 350ms;
    -moz-transition-duration: 350ms;
    -ms-transition-duration: 350ms;
    -o-transition-duration: 350ms;
    transition-duration: 350ms;
    width: 100%;
    background-color: #222;
    color: whiteSmoke;
    position: absolute;
    top: -300px;
    z-index: 99;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
}

#menu > p {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: whiteSmoke;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #333;
}

#menu > p:last-child { border-bottom: 0; box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px inset; }

#menu > p::before { content: '\2605'; position: absolute; color: whiteSmoke; left: 14px; }

.menu-active { text-shadow: 0 0 7px whitesmoke; }

#layout-option > p {
    font-weight: 700;
    text-shadow: 0 1px 1px black;
    font-size: 18px;
    color: whiteSmoke;
    text-align: center;
    margin: 0;
    padding: 10px;
}

#layout-option > p::before {
    content: '';
    position: absolute;
    background-size: 24px;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    left: 11px;
}

.two-icon::before { background-image: url('../img/lay-2.png'); }

.three-icon::before { background-image: url('../img/lay-3.png'); }

.options-active { background-color: rgba(0, 0, 0, 0.3); }

.load-more {
    color: #F5F5F5;
    background-color: #F33F4B;
    clear: both;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;    
    border-bottom: 3px solid #9E0A14;
}

.load-more-active { background-color: #9E0A14; }

.main-message { color: #F5F5F5; width: 100%; text-align: center; font-weight: 700; text-shadow: 0 1px 1px black; }

#force-overflow { width: 100%; }

.fuera { left: -9999px; }
.hide { display: none; }
.invisible { opacity: 0; }

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    #show-menu { background-image: url('../img/list64.png'); }
    #nav-back { background-image: url('../img/back64.png'); }
    #refresh { background-image: url('../img/refresh64.png'); }
}