body {
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #333;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
}

* {
    color: #373737;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html { height: 100%; }

a { color: #999; }

header {
    background-color: black;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
}

header > div + div {
    background-image:-webkit-linear-gradient(top, #FF4040 0%, #A60000 100%);
    background-image: -moz-linear-gradient(top, #FF4040 0%, #A60000 100%);
    background-image: linear-gradient(top, #FF4040 0%, #A60000 100%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 44px;
    box-shadow: 0 3px 10px rgba(50, 50, 50, 0.7);
}

#title {
    color: white;
    text-align: center;
    font-size: 22px;
    margin: 0 auto;
    padding-top: 8px;
    font-family: 'Berkshire Swash';
    width: 65px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}

#container {
    position: absolute;
    overflow-y: auto; overflow-x: hidden;
    top: 0; bottom: 0;
    z-index: 1;
    width: 100%;    
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-overflow-scrolling: touch;
}

.view {
    position: absolute;
    width: 100%;
    top: 44px; bottom: 0;
    z-index: 1;
}

#mainView, #detailView {
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
}

.wrapper {
    height: 100%;
    overflow: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
    padding: 10px 5px;
}

.shotWrap {
    height: 108px;
    width: 50%;
    float: left;
    margin: 0 0 8px 0;
    padding: 0 2.5px;
}

.shot {
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 8px;
}

.shotImage {
    width: 100%;    
    border: 3px white solid;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

.slideTransition { 
    -webkit-transition-duration: 350ms;
    -moz-transition-duration: 350ms;
    transition-duration: 350ms;
}

#navBack {
    position: absolute;
    padding: 8px;
    top: 6px;
    left: 6px;
    -webkit-transition-duration: 350ms;
    -moz-transition-duration: 350ms;
    transition-duration: 350ms;
}

.backArrow {
    border-bottom: 10px solid transparent;
    border-right: 17px solid white;
    border-top: 10px solid transparent;
    height: 0;
    width: 0;
}

.loading {
    color: #F5F5F5;
    width: 100%;
    text-align: center;
}

.fuera { left: -9999px; }
.hide { display: none; }
.invisible { opacity: 0; }