body {
    background-color: #ECECEC;
    overflow: hidden;
    background-image: url("../img/bg.png");
}

* {
    color: #373737;
    -webkit-box-sizing: border-box;
}

header {
	height: 44px;
	background-color: #404040;
	top: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    color: white;
}

header p {
    color: white;
    text-align: center;
}

#container {
    position: absolute;
    overflow-y: scroll; overflow-x: hidden;
    top: 44px;
    z-index: 1;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}